@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');
*{
    margin: 0;
}
:root{
    --red:#dB1c28;
    --gray:#2e2e2e
}
body{
    font-family: 'Poppins', sans-serif;
}
button{
    all: unset;
    padding: 6px 16px;
    background: var(--red);
    height: 32px;
    color: white;
    font-weight: 500;
}
nav{
    display: flex;
    justify-content: space-between;
    margin:0 auto;
    max-width: 1280px;
    height: 72px;
    align-items: center;
    cursor: pointer;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 24px;

}
