.home{
    display: flex;
    height: calc(100vh - 72px);
    align-items: center;
    height: 80;
    margin: 0;
    max-width: 1280px;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 36px;
}
.home h1{
    font-weight:800;
    font-size: 108px;
    line-height: 102px;

}
.home p{
    font-weight:600;
    color: gray;
    max-width: 400px;     
}
.button {
    display: flex;
    gap:40px;
    font-size: 24px;
}
.second-btn{
    background: transparent;
    color: gray;
    border: 1px solid gray;
} 
.shoping p{
    font-size: 14px;
    margin-bottom: 8px;

}
.brandIcon{
    display: flex;
    gap: 16px;

}